@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

body {
  margin: 0;
  box-sizing: border-box;
}

header,
main {
  margin: auto;
  width: 90%;
}
